.sidepane {
	border-left: 1px solid #d8d8d8;
}

.picker select {
	max-width: 250px;
}

.doNotTouch {
	height: 200px;
	min-width: 300px;
	box-shadow: 1px 0px 5px #000;
	margin-right: 20px;
}
