<!-- PreviewPane -->
<div>
	Preview Pane
	<div css-browser current-style="browser.currentStyle" current-rule="browser.currentRule"></div>
	<hr>
	<div class="parent-preview" ng-class="browser.cssClassParent">
		<span>Parent preview Text</span>
		<div class="child-preview" ng-class="browser.cssClassChild">
			<span>Child preview Text</span>
		</div>
	</div>
	<div class="controls">
		<button ng-click="applyStyle(true)">Apply to parent</button>
		<button ng-click="applyStyle()">Apply to child</button>
	</div>
</div>
