<!-- SidePane -->
<div class="row">
    <div class="col-lg-12">
        <p class="lead">Side Pane</p>

        <div class="row" css-extractor host="browser.host" csslist="csslist"></div>
        
        <hr/>
        
        <div class="row">
            <div class="col-lg-12 picker" host="browser.host" css-picker current-rule="browser.currentRule"
                    csslist="csslist" selected="browser.selected" current-style="browser.currentStyle"></div>
        </div>
    </div>
</div>
